footer {
  background: #003366;
  color: white;
  text-align: center;
  padding: 15px;
}

footer .redes {
  margin-top: 10px;
}

footer .redes img {
  width: 35px;
  height: 35px;
  margin: 0 10px;
  border-radius: 50%;
  transition: transform 0.3s ease, filter 0.3s ease;
  cursor: pointer;
}

footer .redes img:hover {
  transform: scale(1.4);
  filter: brightness(1.3);
}
