/* --- Estilos generales --- */
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  padding: 20px 0;
}

/* --- Botones --- */
.btn {
  display: inline-block;
  background: #66b3ff;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 6px;
  font-weight: 600;
}
.btn:hover {
  background: #0055aa;
}
.btn-secundario {
  background: #444;
}
.btn-secundario:hover {
  background: #222;
}

/* --- Mensaje de éxito --- */
.exito {
  background: #d4edda;
  color: #155724;
  padding: 10px;
  text-align: center;
}

/* --- Tablas --- */
table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  margin: 20px 0;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
th,
td {
  padding: 12px 15px;
  text-align: center;
}
thead {
  background: #0055aa;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
tbody tr:nth-child(even) {
  background: #f9f9f9;
}
tbody tr:hover {
  background: #eaf4ff;
  transition: background 0.2s ease-in-out;
}

/* --- Cards --- */
.grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr); /* 6 cards por fila */
  gap: px;
}

.card {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #f4f4f4;
  padding: 10px;
  border-radius: 6px;
  text-align: center;
}
.card img {
  height: 180px;
  object-fit: contain;
  padding: 10px;
  width: 100%;
  border-radius: 6px;
  transition: transform 0.3s ease;
}
.card img:hover {
  transform: scale(1.1);
}

/* --- Botón de compra centrado --- */
.boton-comprar {
  text-align: center;
  margin: 40px 0 60px 0;
}
.boton-comprar .btn {
  font-size: 1.1em;
  padding: 12px 25px;
}

/* --- Panel de opciones --- */
.bienvenida {
  text-align: center;
  margin: 30px 0;
}

.panel-opciones {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.panel-opciones .card {
  background: #f4f4f4;
  padding: 30px 20px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.panel-opciones .card:hover {
  background: #e0ebff;
}

.panel-opciones i {
  color: #0055aa;
  margin-bottom: 15px;
}

/* --- panel de edición --- */
.admin-panel {
  margin: 30px 0;
  text-align: center;
}

#formInventario {
  max-width: 400px;
  margin: 20px auto;
  background: #f4f4f4;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

#formInventario input {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
}
