body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #ffffff;
}

html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}

header {
  background-color: #003366;
  color: white;
  text-align: center;
  padding: 20px;
}

.formulario {
  margin: 20px;
  padding: 15px;
  background: #f4f4f4;
  border-radius: 8px;
}
.formulario h2 {
  margin-bottom: 10px;
}
.formulario input {
  display: block;
  width: 100%;
  margin: 8px 0;
  padding: 8px;
}
.formulario button {
  background: #66b3ff;
  border: none;
  padding: 10px;
  color: white;
  cursor: pointer;
  width: 100%;
  border-radius: 5px;
}
.formulario button:hover {
  background: #0055aa;
}

.tabla {
  margin: 20px;
}
table {
  width: 100%;
  border-collapse: collapse;
}
thead {
  background-color: #66b3ff;
  color: white;
}
th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}
tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

footer {
  background-color: #003366;
  color: white;
  text-align: center;
  padding: 15px;
  position: sticky;
  bottom: 0;
}
